/* HEADER */

header.bodyPage{
	background: url(../../Themes/Istanbul/Header/headerImg.jpg) no-repeat center 40%;
	background-size: cover;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	border-bottom: 2px solid #15133C;

}

header.bodyPage .onImage-heading{
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-weight: 700;
	color: whitesmoke;
	text-align: center;
	margin-bottom: 1rem;

}

header.bodyPage .noHover{
	color: black;
}

header.bodyPage .container .row{
	font-size: 1em;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

header.bodyPage .container .row p{
	font-weight: 600;
}

#mainNavbar{
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	background: rgb(0, 0, 0, 0.7);

}

#mainNavbar .navbar-brand{
	color: black;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-weight: 900;
	letter-spacing: 0.063em;
}

#mainNavbar 
.navbar-nav
.nav-item
.nav-link{
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size: 0.9rem;
	color: black;
	letter-spacing: 0.02em;
}

#mainNavbar .navbar-nav .nav-item .nav-link:hover{
	color: darkslategray;
}

.divider:after,
.divider:before{
	content: "";
	flex: 1;
	height: 1px;
	background-color: #eee;
}

.divider p{
	font-weight: 500px;
}

.h-custom{
	height: calc(100%-73px);
}

/* * login part ** */

.log-modal .modal-dialog{
	margin: 1rem auto;
}

.log-modal .modal-content h2{
	font-size: 1.5rem;
}

.log-modal .modal-content .p-intro{
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	
}

.log-modal .close-modal{
	position: absolute;
	top:  0.1rem;
	right: 0.8rem;
	cursor: pointer;
	background-color: transparent;
}

.log-modal .close-modal:hover{
	opacity: 0.5;
}

/* Discover start */
.discoverSection{
	padding: 2rem 0;
}

section.discoverSection .container .dis-heading{
	font-size: 1.1rem;
}

section.discoverSection .col-special .nav-item{
	margin-left: 0.3rem;
}

section.discoverSection .col-special .nav-item:first-child{
	margin-left: 0;
}

/** show more part */

.collapse-default:not(.show){
	display: block;
	height: 3rem;
	overflow: hidden;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size: 1rem;
	margin-bottom: 0;
}

.collapse-comment-default:not(.show){
	display: block;
	height: 3.5rem;
	overflow: hidden;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size: 1rem;
	margin-bottom: 0;
}

a.collapsed:link, :active, :hover{
	text-decoration: none;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	
}

a:not(.collapsed):link, :active, :hover{
	text-decoration: none;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	
}

a.collapsed::after{
	content: 'see more...';
	font-weight: 700;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	
}

/* döküm part menüleri -share -star -comment */

section.discoverSection .d-flex .btn{
	font-size: 0.9em;
	font-weight: 500;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	color: black;
	
}

section.discoverSection .d-flex .btn:hover{
	background-color: lightgray;
	
}

section.discoverSection .col-right .group-name{
	font-size: 1rem;
	color: blue;
}

section.discoverSection .col-right .group-info-dokum{
	font-size: 0.8rem;
}


section.discoverSection .col-right a.card-specilization:hover{
	background-color: #F7F5F2;
}


/*BlankPage Style*/
.ms-n5 {
    margin-left: -40px;
}

#Info-Page .post-specialization{
	font-size: 1rem;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-weight: 600;
	margin-bottom: 0;
}

#Info-Page .post-info-specialization{
	font-size: 0.8rem;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-weight: 400;
	margin-bottom: 0;
}

#Info-Page .post-specialization a{
	text-decoration: none;
}

#Info-Page .post-specialization a:hover{
	text-decoration: underline;
}

/*COMMENT-DETAIL /TIMELINE/ DOKUM*/
.timeline{
	position: relative;
	padding: 0;
	top: 10px;
	list-style: none;
}

.timeline:before{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 22px;
	width: 1px;
	margin-left: -1px;
	content: "";
	background-color: #dadde0;
}

.timeline>li{
	margin-bottom: 20px;

}

.timeline>li:after,
.timeline>li:before{
	display: table;
	content: "";
}

.timeline>after{
	clear:both
}

.timeline>li .t-panel{
	padding: 0 0px 0 45px;
	text-align: left;
}

.timeline>li .t-image{
	position: absolute;
	z-index: 10;
	width: 40px;
	height: 40px;
	margin-left: 0;
	text-align: center;
	color: white;
	border: 1px solid #dadde0;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

.timeline>li .t-image:last-child{
	background-color: green;
}

.t-comment{
	margin: 0 25px 0 45px;
	top: 0;
	max-width: 100vw;
	text-align: left;
}

.t-panel .btn,
.row-comment-special .btn{
	color:black;
	font-weight: 600;
	font-size: 1rem;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.t-panel .btn span{
	font-size: 0.9rem;

}

.t-panel .btn:hover ,
.row-comment-special .btn:hover{
	background-color: lightgray;

}


.timeline>li .t-image h4{
	font-size: 20px;
	line-height: 10px;
	margin-top: 10px;
}

.timeline .t-heading h4{
	margin-top: 5px;
	margin-bottom: 5px;
	color: inherit;
	font-weight: bold;
	font-size: 1rem;
	font-family:  system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.timeline .t-body>ul,
.timeline .t-body>p{
	margin-bottom: 0;
	padding: 10px;
	font-size: 1rem;
}

/* timeline commet box */
.timeline-comment-box {
    background: #f2f3f4;
    padding: 20px 25px
}

.timeline-comment-box .user {
    float: left;
    width: 34px;s
    height: 34px;
    overflow: hidden;
    border-radius: 30px
}

.timeline-comment-box .user img {
    max-width: 100%;
    max-height: 100%
}

.timeline-comment-box .user+.input {
    margin-left: 44px
}

.timeline-comment-box .textare-specialization{
	background-color: #f2f3f4;
	overflow: hidden;
}

.timeline-comment-box .textare-specialization:focus{
	background-color: white;
	border: 1px solid lightgray;
}



/* HEADER MEDIA QUERY */

/* ceptel size css kodları*/
@media (max-width: 991.98px){

	header.bodyPage{
		padding-top: 5rem;
		padding-bottom: 2rem;
	}

	header.bodyPage .container .row{
		display: none;
	}

	.navbar .container .input-search{
		width: 10vw;
	}

	#mainNavbar .navbar-nav .nav-item .nav-link{
		color: black;
	}

	#mainNavbar .navbar-brand{
		color: whitesmoke;
		font-weight: 700;
	}

	.log-modal .modal-dialog{
		max-width:90vw;
	}

	section.discoverSection .col-8{
		width: 91.5vw;
		margin: auto;
		padding: 1rem 0;
	}

	section.discoverSection .col-8 .btn{
		font-size: 0.8em;
	}

	.timeline .t-heading h4{
		font-size: 0.9rem;
	}

	.timeline .t-body>ul,
	.timeline .t-body>p{
	font-size: 1rem;
	}


}


@media (min-width: 992px){

	header.bodyPage{
		padding-top: 11rem;
		padding-bottom: 4rem;
	}

	.log-modal .modal-dialog{
		max-width: 30vw;
	}

	header.bodyPage .container .input-group{
		max-width: 40vw;
	}

	#mainNavbar{
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		border: none;
		background-color: transparent;
		transition: padding-top 0.5s eas-in-out, padding-bottom 0.5s ease-in-out;
		-webkit-transition:  padding-top 0.5s eas-in-out, padding-bottom 0.5s ease-in-out;
		-moz-transition:  padding-top 0.5s eas-in-out, padding-bottom 0.5s ease-in-out;
		-o-transition: padding-top 0.5s eas-in-out, padding-bottom 0.5s ease-in-out;
	}

	#mainNavbar .navbar-brand{
		font-size: 1.6em;
		font-weight: 700;
		transition: font-size 0.5s ease-in-out;
		-webkit-transition:  font-size 0.5s ease-in-out;
		-moz-transition:  font-size 0.5s ease-in-out;
		-o-transition:  font-size 0.5s ease-in-out;
	}

	#mainNavbar .navbar-nav .nav-item{
		margin-right: 1rem;
	}

	#mainNavbar .navbar-nav .nav-item:last-child{
		margin-right: 0;
	}

	#mainNavbar.navbar-mobile .navbar-brand{
		font-size: 1.20em;
		color: whitesmoke;
	} 

	#mainNavbar.navbar-mobile .navbar-nav .nav-item
	.nav-link{
		color: whitesmoke;
	} 

	#mainNavbar.navbar-mobile .navbar-nav .nav-item
	.nav-link:hover{
	color: lightgray;
	}

	#mainNavbar.navbar-mobile{
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		background: rgb(0, 0, 0, 0.7);

	}

	section.discoverSection .col-lg-4{
		padding: 0.5rem 0;
	}

	section.discoverSection .col-lg-8{
		padding: 0.5rem 0;
	}

}
